* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  background-image: url("images/table.png");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}

h1 {
  color: goldenrod;
  font-size: 35px;
  margin: 50px;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

p {
  margin: 12px;
}

#message-el {
  font-style: italic;
  font-size: 20px;
  margin-bottom: 25px;
}

#cards-el {
  font-size: 17px;
}

#sum-el {
  font-size: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

button {
  margin-bottom: 16px;
  color: #016f32;
  width: 150px;
  background: goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
